<!DOCTYPE html>
<html>
  <head>
    <title>RTC Code Editor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('asterisk.png') %>
  </head>

  <body>
  <% if current_user %>
  <script id="get-current">
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    $("#get-current").remove();
  </script>
  <% end %>
    <%= yield %>
  </body>
</html>
